.home-content {
  background-image: url(https://image.tmdb.org/t/p/original/gIkzFibtypfg373DKIdbsrj1keo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 0%;
  width: 100%;
  height: calc(100vh - 56px);
  float: left;
}

.video-top-title {
  font-size: 24px;
  background-color: #000;
  padding: 15px 10px;
  color: #fff;
  border-radius: 8px;
  text-align: center;
}
.video-heading {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  margin: 10px 0;
  font-weight: 700;
}
.react-player {
  z-index: -100;
}
.video-list-content {
  border: 1px solid #000;
  padding: 12px 2px 0 10px;
  border-radius: 10px;
}

.video-list {
  height: 500px;
  overflow-y: scroll;
  color: #dfdfdf;
  font-weight: 400;
}

.video-list::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 15px; /* Adjust border-radius as needed */
  min-width: 5px !important; /* Adjust min-width as needed */
  max-width: 8px !important; /* Adjust min-width as needed */
}
.video-list::-webkit-scrollbar-thumb {
  background-color: #aaa; /* Change to desired color */
  border-radius: 15px; /* Adjust border-radius as needed */
  min-width: 5px !important; /* Adjust min-width as needed */
  max-width: 8px !important; /* Adjust min-width as needed */
}
.video-list > .active {
  color: #000;
  background-color: #ffffff78;
  font-weight: 600;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.list-title {
  cursor: pointer;
  margin-bottom: 15px;
}

.next-video {
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  color: #fff;
  padding: 10px 18px;
  background-color: #000;
}
.prev-video {
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  color: #fff;
  padding: 10px 18px;
  background-color: #000;
}

.video-list-item {
  display: flex;
  gap: 15px;
}

.video-list-item > img {
  min-width: 200px !important;
  max-width: 200px !important;
  height: 100px;
  max-height: 100px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
}
.video-list-item-title {
  font-size: 14px;
  margin: 0;
}

.btn-controls {
  margin-bottom: 20px;
}
