.cs-navbar {
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  top: 0;
  position: sticky;
}

.cs-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.cs-navbar-logo {
  font-size: 1.5rem;
}

.cs-navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  color: #fff;
}

.cs-navbar-links a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.cs-navbar-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
}

.cs-bar {
  background-color: #fff;
  height: 3px;
  width: 100%;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .cs-navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1;
  }

  .cs-navbar-links.active {
    display: flex;
  }

  .cs-navbar-links a {
    text-align: center;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid #555;
  }

  .cs-navbar-toggle {
    display: flex;
  }

  .cs-bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .cs-bar.open:nth-child(2) {
    opacity: 0;
  }

  .cs-bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
