.video-card {
  overflow: hidden;
  border: none;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.video-card-thumbnail-image {
  border-radius: 15px;
  max-height: 250px;
}
.video-card-thumbnail-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  max-height: 250px;
  transition: all 0.5s ease-in-out;
}
.video-card:hover .video-card-thumbnail-image img {
  transform: scale(1.05);
  max-height: 250px;
}
